<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JVT Portfolio - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
</head>
<body>
    <div class="container">
        <div class="my-banner" role="banner">
            <nav>
                <ul class="no-bullets" tabindex="-1">
                    <li class="flex-container" title="Home">
                        <a class="flex-container" href="/">
                            <div>
                                <svg height="21" role="presentation" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#managed-icon__home">
                                        <svg id="managed-icon__home" fill="navy" viewBox="0 0 20 21">
                                            <path d="M19.55 8.117L10.567.157a.967.967 0 0 0-1.056 0L.528 8.117C.211 8.327 0 8.746 0 9.06v11.312c0 .314.317.628.634.628H6.34v-6.389c0-.524.423-.943.952-.943h5.389c.528 0 .951.42.951.943V21h5.706c.317 0 .635-.314.635-.628V9.06c.105-.314-.106-.838-.423-.943"></path>
                                        </svg>
                                    </use>
                                </svg>
                            </div>
                            <div>
                                <span>Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="flex-container" title="Projects">
                        <a class="flex-container" href="/projects/">
                            <div>
                                <svg height="21" role="presentation" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#managed-icon__home">
                                        <svg id="managed-icon__home" fill="navy" viewBox="0 0 20 21">
                                            <path d="M19.55 8.117L10.567.157a.967.967 0 0 0-1.056 0L.528 8.117C.211 8.327 0 8.746 0 9.06v11.312c0 .314.317.628.634.628H6.34v-6.389c0-.524.423-.943.952-.943h5.389c.528 0 .951.42.951.943V21h5.706c.317 0 .635-.314.635-.628V9.06c.105-.314-.106-.838-.423-.943"></path>
                                        </svg>
                                    </use>
                                </svg>
                            </div>
                            <div>
                                <span>Projects</span>
                            </div>
                        </a>
                    </li>
                    <li class="flex-container" title="Contact">
                        <a class="flex-container" href="/contact/">
                            <div>
                                <svg height="21" role="presentation" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#managed-icon__home">
                                        <svg id="managed-icon__home" fill="navy" viewBox="0 0 20 21">
                                            <path d="M19.55 8.117L10.567.157a.967.967 0 0 0-1.056 0L.528 8.117C.211 8.327 0 8.746 0 9.06v11.312c0 .314.317.628.634.628H6.34v-6.389c0-.524.423-.943.952-.943h5.389c.528 0 .951.42.951.943V21h5.706c.317 0 .635-.314.635-.628V9.06c.105-.314-.106-.838-.423-.943"></path>
                                        </svg>
                                    </use>
                                </svg>
                            </div>
                            <div>
                                <span>Contact</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Home</h1>
            <p>Hello, World!</p>

        </div>
    </div>
</body>
</html>