<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List Manager</title>
</head>
<body>
    <h1>To Do:</h1>
    <table>
        <tr>
            <th>Description</th>
            <th>isComplete</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.description}}</td>
            <td>{{task.isComplete}}</td>
        </tr>
        {% endfor %}
    </table><br/>
    <h2>Actions: </h2>
    <form action="http://localhost:5000/redirect_handler" method="post">
        <button type="submit" name="Add task">Add task</button><br/><br/>
        <button type="submit" name="Update task">Update task</button><br/><br/>
        <button type="submit" name="Delete task">Delete task</button>
    </form>
</body>
</html>